<div class="game-slider">
    <div class="game-slider__inner">
        <img
            src="https://cdn2.unrealengine.com/egs-vampire-swansong-desktop-1280x702-1248x702-8012b0b6b779.jpg?h=1080&resize=1&w=1920"
            alt="#"
        />
        <div class="game-slider__content-column">
            <span class="game-slider__action-tag"> Доступно для предпокупки </span>
            <p class="game-slider__description">
                Играйте за 3 вампиров и распоряжайтесь их силами, пытаясь сохранить баланс между человеческой и звериной
                ....
            </p>
            <span class="game-slider__price">От 1000,00 &#8372; </span>
            <div class="game-slider__buttons-block">
                <button class="game-slider__button">Оформить предпокупку</button>
            </div>
        </div>
    </div>
    <div class="cards-column"></div>
</div>
