@use 'src/variables' as *;

.dashboard {
    height: 100vh;

    display: flex;
    flex-direction: column;
    position: relative;
}

.main-dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    color: $main-font;
    background-color: $main-bg;
    height: fit-content;
}

:host {
    display: block;
}
