<form
    class="profile-form"
    *ngIf="userCredentials | async as data"
    [formGroup]="profileForm"
    (submit)="onUpdateProfileInfo()"
>
    <div class="profile-form__form-group">
        <h1 class="profile-form__form-group__title">
            Display name: <strong>{{ data.username }}</strong>
        </h1>
        <input
            id="input__username-update"
            class="profile-form__form-group__input"
            placeholder="Type in your new username"
            formControlName="username"
        />
        <label for="input__username-update"
            >This name is your public identity. Please note this change your username.</label
        >
    </div>

    <div class="profile-form__form-group">
        <h1 class="profile-form__form-group__title">Email</h1>
        <label for="input__username-update">
            Current email: <strong>{{ data.email }}</strong></label
        >
        <input class="profile-form__form-group__input" placeholder="Type in your new @email" formControlName="email" />
    </div>

    <div class="profile-form__form-group">
        <h1 class="profile-form__form-group__title">Age</h1>
        <label for="input__username-update">
            Current age: <strong>{{ data.age }}</strong></label
        >
        <input class="profile-form__form-group__input" placeholder="Type in you data" formControlName="age" />
    </div>

    <button class="profile-form__submit-button button-square" color="primary">Submit</button>
</form>
