<div class="loader">
    <div class="lds-default">
        <div class="color-orange"></div>
        <div class="color-white"></div>

        <div class="color-orange"></div>
        <div class="color-white"></div>

        <div class="color-orange"></div>
        <div class="color-white"></div>

        <div class="color-orange"></div>
        <div class="color-white"></div>

        <div class="color-orange"></div>
        <div class="color-white"></div>

        <div class="color-orange"></div>
        <div class="color-white"></div>
    </div>
</div>
