$main-bg: #2a2e33;
$main-font: #aaa;

$hover-color: #6c69ff;
$card-bg-color: rgba(255, 255, 255, 0.1);
$input-bg-color: #1c1e22;
$lightgray: lightgray;

$main-blue: rgba(0, 120, 242, 255);
$gray-bg: rgba(42, 42, 42, 255);

